absl-py
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyascii
anyio
attrs
audioread
babel
bangla
blinker
blis
bnnumerizer
bnunicodenormalizer
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
confection
contourpy
coqpit
cycler
cymem
Cython
dateparser
decorator
distro
docopt
einops
encodec
filelock
Flask
fonttools
frozenlist
fsspec
g2pkk
groq
grpcio
gruut
gruut-ipa
gruut_lang_de
gruut_lang_en
gruut_lang_es
gruut_lang_fr
h11
hangul-romanize
httpcore
httpx
huggingface-hub
idna
imageio
imageio-ffmpeg
inflect
itsdangerous
jamo
jieba
Jinja2
joblib
jsonlines
jsonpatch
jsonpointer
kiwisolver
langchain-core
langchain-groq
langcodes
langsmith
language_data
lazy_loader
librosa
llvmlite
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
more-itertools
moviepy
mpmath
msgpack
multidict
murmurhash
mutagen
networkx
nltk
num2words
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
orjson
packaging
pandas
pillow
platformdirs
pooch
preshed
proglog
propcache
protobuf
psutil
pycparser
pydantic
pydantic_core
Pygments
pynndescent
pyparsing
pypinyin
pysbd
pytesseract
python-crfsuite
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
requests-toolbelt
rich
safetensors
scikit-learn
scipy
shellingham
six
smart-open
sniffio
soundfile
soxr
spacy
spacy-legacy
spacy-loggers
srsly
SudachiDict-core
SudachiPy
sympy
tenacity
tensorboard
tensorboard-data-server
thinc
threadpoolctl
tokenizers
torch
torchaudio
torchvision
tqdm
trainer
transformers
triton
TTS
typeguard
typer
typing-inspection
typing_extensions
tzlocal
umap-learn
Unidecode
urllib3
wasabi
weasel
Werkzeug
wrapt
yarl
zstandard
